
.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


#nav-title{
    font-weight: 800;
    font-size: 45px;
}

.commonstyles{
    color: #FD6E0A;
}



nav li{
    list-style: none;
    padding-left: 50px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}




#grandfather{
    display: flex; 
    align-items: center;
    padding-left: 50px;
    justify-content: space-between;
}

nav ul li button{
    width: 150px;
    height: 64px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
}


#father{
    padding-right: 80px;
    display: flex;
    align-items: center;

}

#banner{
    display: flex;
    justify-content: space-between;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
 #banner-content{ 
   width: 585px;
   height: 356px;
}
